.profile {
  $avatar-size: 130px;

  padding: 40px 30px;
  &__header {
    width: $avatar-size;
    margin: 0 auto 40px;
    text-align: center;
  }
  &__avatar {
    width: 100%;
    height: $avatar-size;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    font: bold 16px $font-roboto;
  }
  &__row {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    & + & {
      border-top: solid 1px $c-border;
    }
  }
  &__cell {
    &:first-child {
      font-weight: bold;
    }
    &:nth-child(2) {
      opacity: 0.6;
    }
  }
  &__footer {
    margin-top: 40px;
    &._small {
      max-width: 300px;
      margin: 40px auto 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
