<main class="main">
    <div class="window _middle error">

        <div class="error__title">{{{ title }}}</div>

        <p>{{{ text }}}</p>

        <div class="error__footer">
            <a page="chat" class="link">Назад к чатам</a>
        </div>

    </div>
</main>
