.wrapper,
.main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.main {
  min-height: calc(100vh - 66px);
  align-items: center;
}

.container {
  width: 100%;
  max-width: 90rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.window {
  width: 100%;
  background: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  border-radius: $field-border-radius;
  &._small,
  &._middle {
    margin-top: 100px;
  }
  &._small {
    max-width: 400px;
  }
  &._middle {
    max-width: 800px;
  }
  &._large {
    width: 80vw;
    height: 90vh;
    margin: auto;
  }
  h1 {
    text-align: center;
  }
}

p + p {
  margin-top: 10px;
}

.red {
  color: red;
}

.hidden {
  display: none !important;
}
