<div class="login-form">
    <div class="login-form__title">Вход</div>
    <form class="login-form__content">
        {{{ formContent }}}
    </form>
    <div class="login-form__footer">
        {{{ loginFooter }}}
    </div>
</div>
