<div class="chat__list">
    {{#each messages}}
        <div class="chat__list-item">
            <div class="chat__list-avatar">
                <img loading="lazy" src="./images/ava.png" alt="аватар" />
            </div>
            <div class="chat__list-preview">
                <div class="chat__list-name">{{ this }}</div>
                <div class="chat__list-intro">
                    Друзья, у меня для вас особенный выпуск новостей!
                    Друзья, у меня для вас особенный выпуск новостей!
                    Друзья, у меня для вас особенный выпуск новостей!
                    Друзья, у меня для вас особенный выпуск новостей!
                </div>
            </div>
            <div class="chat__list-cell">
                <div class="chat__time">10:49</div>
                <div class="chat__list-count">2</div>
            </div>
        </div>
    {{/each}}
</div>
