<div class="chat__feed">
    <div class="chat__message">
        <p>С Байконура совершил старт корабль «Восток». Кстати, такое название присуще многим советским кораблям для полета в космос.</p>
        <p>Судно выпустили в 1961 г, и оно стало и первым судном, вылетевшим в космическое пространство. Если Гагарин на своём корабле облетел Землю один раз, то судно «Восток-5» на котором летел знаменитый космонавт Быковский, обошло землю 81 раз и на это ушло 5 дней.</p>
        <div class="chat__time">11:56</div>
    </div>
    <div class="chat__message _outgoing">
        <p>Круто!</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message">
        <p>Да, круто.</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message _outgoing">
        <p>С Байконура совершил старт корабль «Восток». Кстати, такое название присуще многим советским кораблям для полета в космос.</p>
        <p>Судно выпустили в 1961 г, и оно стало и первым судном, вылетевшим в космическое пространство. Если Гагарин на своём корабле облетел Землю один раз, то судно «Восток-5» на котором летел знаменитый космонавт Быковский, обошло землю 81 раз и на это ушло 5 дней.</p>
        <div class="chat__time">11:56</div>
    </div>
    <div class="chat__message _outgoing">
        <p>Круто!</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message">
        <p>Да, круто.</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message">
        <p>С Байконура совершил старт корабль «Восток». Кстати, такое название присуще многим советским кораблям для полета в космос.</p>
        <p>Судно выпустили в 1961 г, и оно стало и первым судном, вылетевшим в космическое пространство. Если Гагарин на своём корабле облетел Землю один раз, то судно «Восток-5» на котором летел знаменитый космонавт Быковский, обошло землю 81 раз и на это ушло 5 дней.</p>
        <div class="chat__time">11:56</div>
    </div>
    <div class="chat__message _outgoing">
        <p>Круто!</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message">
        <p>Да, круто.</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message _outgoing">
        <p>С Байконура совершил старт корабль «Восток». Кстати, такое название присуще многим советским кораблям для полета в космос.</p>
        <p>Судно выпустили в 1961 г, и оно стало и первым судном, вылетевшим в космическое пространство. Если Гагарин на своём корабле облетел Землю один раз, то судно «Восток-5» на котором летел знаменитый космонавт Быковский, обошло землю 81 раз и на это ушло 5 дней.</p>
        <div class="chat__time">11:56</div>
    </div>
    <div class="chat__message _outgoing">
        <p>Круто!</p>
        <div class="chat__time">12:56</div>
    </div>
    <div class="chat__message">
        <p>Да, круто.</p>
        <div class="chat__time">12:56</div>
    </div>
</div>
