<form class="login-form">
    <div class="login-form__title">Регистрация</div>
    {{> uikit/field label="Почта" name="email" id="email" type="email" }}
    {{> uikit/field label="Логин" name="login" id="login" type="text" }}
    {{> uikit/field label="Имя" name="first_name" id="first_name" type="text" }}
    {{> uikit/field label="Фамилия" name="second_name" id="second_name" type="text" }}
    {{> uikit/field label="Телефон" name="phone" id="phone" type="tel" }}
    {{> uikit/field label="Пароль" name="password" id="password" type="password" }}
    {{> uikit/field label="Пароль еще раз" name="password" id="password" type="password" }}
    {{> uikit/button name="Зарегистрироваться" }}
    <div class="login-form__footer">
        <a href="./login.html">Войти</a>
    </div>
</form>
