<div class="profile__header">
    <div class="profile__avatar">
        <img src="https://ya-praktikum.tech/api/v2/resources{{ userAvatar }}" alt="аватар" />

    </div>
    <div class="profile__name">
        {{ userFirstName }}
    </div>
</div>
