<footer class="footer">
    <a href="/static/login.html">Логин</a>
    <a href="/static/register.html">Регистрация</a>
    <a href="/static/chat.html">Чаты</a>
    <a href="/static/profile.html">Профиль</a>
    <a href="/static/profile-edit.html">Изменить профиль</a>
    <a href="/static/profile-change-password.html">Изменить пароль</a>
    <a href="/static/404.html">404</a>
    <a href="/static/500.html">500</a>
</footer>
