<template class="ts-chat-list-item">
    <div class="chat__list-item">
        <div class="chat__list-avatar">
            <img loading="lazy" src="../assets/images/ava.png" alt="аватар юзера" />
        </div>
        <div class="chat__list-preview">
            <div class="chat__list-name"></div>
            <div class="chat__list-intro"></div>
            {{!-- <button class="button chat__add-btn">+</button> --}}
        </div>
        <div class="chat__list-cell">
            {{!-- <div class="chat__time">10:49</div> --}}
            <div class="chat__list-count"></div>
        </div>
        <form class="chat__list-form hidden">
            <div class="field">
                <label class="field__label" for="">Искать по логину</label>
                <input class="field__input" name="" id="" type="text" />
                <div class="alert _error"></div>
            </div>
            <button type="submit" class="button">Искать</button>
        </form>
    </div>
</template>

