<div class="chat__list-item">
    <div class="chat__list-avatar">
        <img loading="lazy" src="../assets/images/ava.png" alt="аватар юзера" />
    </div>
    <div class="chat__list-preview">
        <div class="chat__list-name">{{ this.name }}</div>
        <div class="chat__list-intro">{{ this.intro }}</div>
    </div>
    <div class="chat__list-cell">
        <div class="chat__time">10:49</div>
        <div class="chat__list-count">2</div>
    </div>
</div>
