<div class="chat__result">
    <template class="ts-chat-result-item">
        <div class="chat__result-item">
            <div class="chat__result-name"></div>
            <button class="button chat__result-btn">+</button>
        </div>
    </template>
</div>
