<div class="wrapper">
    {{> Header }}
    <main class="main">
        <div class="window _large chat">
            <div class="chat__sidebar">

                <div class="chat__header">
                    <a href="./profile.html">Профиль</a>
                </div>

                <div class="chat__list">

                    {{{ chatItem }}}

                </div>

            </div>
            <div class="chat__container">

                {{{ chatTopbar }}}

                <div class="chat__feed">

                    {{{ chatMessage }}}

                </div>

                {{{ chatForm }}}

            </div>
        </div>
    </main>
    {{> Footer }}
</div>
