<div class="wrapper">
    {{> Header }}
    <main class="main">
        <div class="window _middle profile">
            <form>

                {{{ profileHeader }}}

                <div class="profile__form">

                    {{{ profileChangePasswordForm }}}

                </div>

                <div class="profile__footer _small">

                    {{{ profileChangePasswordButton }}}

                </div>

            </form>
        </div>
    </main>
    {{> Footer }}
</div>
